# vscode
.vscode/

# python stuffs
__pycache__/
.venv/
.mypy_cache/
.ruff_cache/
.pytest_cache/
*.pyc

# pypi
/build/
/dist/
*.egg-info/

# env
/venv/

# Conduit
skipped_updates.json
active_plugins.json
command_cache.json
*config.json
perms.json
/plugins
/resources
/telemetry
/logo
/mconduit-resource-pack-release
/.mconduit-resource-pack-dev
*.zip